*{
  margin:0;
}
@media screen and (min-width: 500px){
.title
{
  font-family: 'Pacifico', cursive;
  color:rgb(6, 6, 65);
  padding-left:19rem;
  padding-top: 1rem;
  font-size:2em;
  border-bottom:dotted 1px black;
}
.contain
{
  margin-top: 10%;
}
.contain__card{
  height:35rem!important;
  width: 28rem!important;
}
.btn{
  width: 17rem;
  margin-top: 1rem;
  /* margin-left: 2.5rem; */
  border-radius: 50px 20px;
}
}
@media screen and (max-width:500px)
{
  .title
  {
  font-family: 'Pacifico', cursive;
    color:rgb(6, 6, 65);
    padding-left: 4rem;
    font-size:2em;
    border-bottom:dotted 1px black;
  }
  .contain
  {
    margin-top: 20%;
    margin-left: 2rem;
    margin-right: 2rem;
  } 
  
  .btn
  {
  width: 17rem;
  margin-top:1.5rem;
  /* margin-left:3rem; */
  }
  .contain__card{
    height: 35rem;
    width: 25rem;
  }

}
.app
{
  height: 100vh;
  background-color: aliceblue;
}
.app__card  
{
  margin:15em;
  border:1px solid rgba(0, 0, 0, 0.178);
  height: 35rem ;
  width: 30rem;
  margin-left:35%;
}
.or
{
  text-align: center;
  margin-top: 20px;
}
.warn
{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  color:red;
}
.divbtn
{
  display: flex;
  justify-content: center;
}